<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Regression Analyser</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h2>Upload CSV File</h2>
        <label for="fileInput">Add CSV file:</label>
        <input type="file" id="fileInput">
        <br>
        <br>

        <label for="weight">Add value of weight(w):</label>
        <input type="number" id="weight">
        <br>
        <br>

        <label for="bias">Add value of bias(b):</label>
        <input type="number" id="bias">
        <br>
        <br>

        <label for="alpha">Add value of learning rate(&#945;):</label>
        <input type="number" id="alpha">
        <br>
        <br>

        <label for="iterations">Add No. of iterations</label>
        <input type="number" id="iterations">
        <br>
        <br>


        <button  onclick="uploadFile()">Upload</button>
    

    <p id="result"></p>
    <div class="plots">
        <img id="regression" width="500">
        <img id="cost" width="500">
        
    </div>

    <h3>Dataset Preview</h3>
    <table id="datasetPreview" border="1"></table>

    <div id="results">
        <p id="wFinal"></p>
        <p id="bFinal"></p>
        <p id="costFinal"></p>
        <p id="r2"></p>

    </div>

    <h3>Experiment History</h3>
    <table id="history" border="1">
    <tr>
    <th>α</th>
    <th>Iterations</th>
    <th>Init w</th>
    <th>Init b</th>
    <th>Final w</th>
    <th>Final b</th>
    <th>Cost</th>
    <th>R²</th>
    </tr>
    </table>
    

    <script src="../static/index.js">
        
    </script>
    
</body>
</html>