<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Regression Analyser</title>
</head>
<body>
    <h2>Upload CSV File</h2>
        <label for="fileInput">Add CSV file:</label>
        <input type="file" id="fileInput">
        <br>
        <br>

        <label for="weight">Add value of weight(w):</label>
        <input type="number" id="weight">
        <br>
        <br>

        <label for="bias">Add value of bias(b):</label>
        <input type="number" id="bias">
        <br>
        <br>

        <label for="alpha">Add value of learning rate(&#945;):</label>
        <input type="number" id="alpha">
        <br>
        <br>

        <label for="iterations">Add No. of iterations</label>
        <input type="number" id="iterations">
        <br>
        <br>


        <button  onclick="uploadFile()">Upload</button>
    

    <p id="result"></p>
    <img id="graph" width="500">

    <script>
        async function uploadFile(){
            let file=document.getElementById("fileInput").files[0];
            let w=document.getElementById("weight").value;
            let b=document.getElementById("bias").value;
            let alpha=document.getElementById("alpha").value;
            let i=document.getElementById("iterations").value;
            const formData=new FormData();
            formData.append("file",file);
            formData.append("weight",w);
            formData.append("bias",b);
            formData.append("alpha",alpha);
            formData.append("iterations",i);

            const response=await fetch("http://127.0.0.1:5000/upload",{method:"POST",body:formData});
            const blob = await response.blob()
            const imageURL = URL.createObjectURL(blob)

            let result=document.getElementById("result");
            let graph=document.getElementById("graph");

            
            graph.src=imageURL;
        }
    </script>
    
</body>
</html>